<ul>
  <% pages.each do |page, children| %>
    <li>
      <%= link_to_unless_current page.title, page.url %>
      <%= render 'submenu_pages', pages: children if children.present? %>
    </li>
  <% end %>
</ul>